<div>
    <p>Hello,</p>
    <p>The stock of product id <b>{{productId}}</b> has came to below 20%</p>
    <p>Please take a look to stocks and refill the stock for {{productId}}</p>
    <br>
    <p>Thanks and Regards,</p>
    <p>2Solar Team,</p>
</div>